.image-editor {
  background-color: #2b2a2a;
}

.image-container {
  width: 400px;
  height: 468px;
  position: relative;
}

.drawing-area {
  border: 2px dashed #a8a8a8;
  border-radius: 4px;
  position: absolute;
  top: 160px;
  left: 100px;
  z-index: 10;
  width: 200px;
  height: 241px;
}

.canvas-container {
  width: 200px;
  height: 241px;
  position: relative;
  user-select: none;
}

#canvas {
  position: absolute;
  width: 200px;
  height: 241px;
  left: 0px;
  top: 0px;
  user-select: none;
  cursor: default;
}
